 


*{
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}


body{
    font-family: 'Open Sans', sans-serif;
    color: black;
    padding-bottom: 50px;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.nav{
    position: fixed;
    background-color: var(--bg-color);
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

nav ul{
    display: flex;
    list-style-type:  none;
    align-items: center;
    justify-content: center;
} 

.nav a{
    color:#fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

.nav.active{
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.nav.active a{
    color:#000;
}

.nav.active .container{
    padding: 10px 0;
}

.nav a.current, .nav a:hover{
    color: var(--hover-color);
    font-weight: bold;

}

.hero{
    background-image: url('../img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: buttom center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.hero::before{
    content:'';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}

.hero h1{
    font-size: 56px;
    margin: -60px 0 25px;
}

.hero p{
    font-size: 20px;
    letter-spacing: 1px;
}


main{
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}

.recipe{
    width: 30%;
    margin: 1rem;
    background-color: var(bg-color);
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    
}

.recipe img{
   
    width: 100%;
}

.recipe-info{
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.recipe-info h3{
    margin-top: 0;
}


.overview{
    background-color: gray;
    padding: 2rem;
    position: absolute;
    left:0;
    right: 0;
    bottom:0;
    max-height: 80%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in;
   
}

.recipe:hover .overview{
    transform: translateY(0);
}

.About-us {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #ccc;
    padding-top: 10rem;
    margin-bottom: 0px;
 
  }

.About-us img {
    height: 400px;
    border-radius: 50%;
  }

.fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background: #3B5998;
    color: white;
    border-radius: 8px;
   font-size: 50px;
    
 } 




 /* recipe */
 

.recipe_page header{
    background: orange;
    padding-top: 5px;
    padding-bottom: 5px;
 }

.recipe_page header h1{
    color: gray;
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;

 }

 
.recipe_page .container{
    display: flex;
    flex-direction: row;
 } 
.recipe_page h3{
    color: chocolate;
}

 

.recipe_page #left_section {
    width: 50%;
    
   
    text-align: center;
    color: white;
}

 

.recipe_page #left_section img{
    border-width: 2px;
    border-style: solid;
    border-color: #672b00;
    margin-left: 20px;
    margin-top: 15%;
  
    width: 60%;
}

.recipe_page #right_section{
    width: 50%;
    
    height: 100vh;
}


.recipe_page ol, ul{
    font-size: 1.5em;
}

 


@media only screen and (max-width: 768px){
    .recipe_page h1{
        font-size: 3em;
    }
    .recipe_page ol, ul{
        font-size: 1em;
    }
    .recipe_page .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    justify-content: center;
        
     } 
    .recipe_page  #left_section  img{
     
        width: 90%;
     
    }
    .recipe_page #right_section{
        width: 70%;
       
        height: 100vh;
    }
}