* {
    /* removed embedded margin/padding */
    margin: 0;
    padding: 0;
}
body {
    background-color: #e8eddf;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #cfdbd5;
    height: 90px;
}
.navbar-items {
    display: flex;
    flex-direction: row;
}
.navbar-item {
    text-decoration: none;
    padding: 0px 10px;
    margin: 0px 5px;
    list-style: none;
    font-size: 1.7rem;
}
.nav-link {
    text-decoration: none;
    color: #242423;
}
.navbar-logo {
    font-size: 3rem;
}
.container-recipes {
    margin-top: 50px;
}
.card {
    /* display: inline-block; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    border: 4px solid black;
    border-radius: 10px;
    height: 600px;
    width: 350px;
    background-color: #f5cb5c;
}
.title {
    margin: 50px 0px;
    text-align: center;
    color: #333533;
}
.card-title {
    margin: 20px 0px;
}
.card-img {
    /* margin: 0px 20px; */
    margin: auto;
    border-radius: 50%;
}
.container-recipes {
    display: flex;
    flex-direction: row;
}
