img {
    width: 150px;
    border: 5px solid;
    border-radius: 10px;
}

body {
    background-color: #FAEDCD;
}

.body-of-frontpage {
    padding: 0px 40px 10px;
}

.text {
    margin-left: 10px;
    margin-right: 10px;
}

.recipe1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px 10px;
    background-color: #D4A373;
    color: white;
    border: 7px solid #BC6C25;
    padding: 20px 20px;
    border-radius: 25px;
}

.recipe1_subpage{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 40px 10px;
    background-color: #D4A373;
    color: white;
    border: 7px solid #BC6C25;
    padding: 20px 20px;
    border-radius: 25px;
}

.recipe2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px 10px;
    background-color: #D4A373;
    color: white;
    border: 7px solid #BC6C25;
    padding: 20px 20px;
    border-radius: 25px;
}

.recipe3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px 10px;
    background-color: #D4A373;
    color: white;
    border: 7px solid #BC6C25;
    padding: 20px 20px;
    border-radius: 25px;
}


.header {
    display: flex;
    background-color: #D4A373;
    color: white;
    border: 7px solid #BC6C25;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 25px;
    margin-bottom: 10px;
}

.Recipe1 {
    padding: 0px 40px 10px;
    background-color: #A3B18A;
    color: white;
    border: 7px solid #3A5A40;
    padding: 20px 20px;
    border-radius: 25px;
    margin-bottom: 10px;
}

.Recipe1_subpage {
    background-color: #A3B18A;
    color: white;
    border: 7px solid #3A5A40;
    border-radius: 25px;
    padding: 10px;
}

.Recipe1_body {
    display: flex;
    justify-content: space-evenly;
    background-color: #A3B18A;
    color: white;
    border: 7px solid #3A5A40;
    border-radius: 25px;
    margin-bottom: 10px;
}

.grilled_chk {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 40px 10px;
    background-color: #A3B18A;
    color: white;
    border: 7px solid #3A5A40;
    padding: 20px 20px;
    border-radius: 25px;
    margin-bottom: 10px;
}

._dip {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 40px 10px;
    background-color: #A3B18A;
    color: white;
    border: 7px solid #3A5A40;
    padding: 20px 20px;
    border-radius: 25px;
    margin-bottom: 10px;
}

.zucchini {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 40px 10px;
    background-color: #A3B18A;
    color: white;
    border: 7px solid #3A5A40;
    padding: 20px 20px;
    border-radius: 25px;
    margin-bottom: 10px;
}

.Recipe2 {
    padding: 0px 40px 10px;
    background-color: #A3B18A;
    color: white;
    border: 7px solid #3A5A40;
    padding: 20px 20px;
    border-radius: 25px;
    margin-bottom: 10px;
}

.Recipe2_body {
    display: flex;
    justify-content: space-between;
    background-color: #A3B18A;
    color: white;
    border: 7px solid #3A5A40;
    border-radius: 25px;
    margin-bottom: 10px;
}

.Recipe3 {
    padding: 0px 40px 10px;
    background-color: #A3B18A;
    color: white;
    border: 7px solid #3A5A40;
    padding: 20px 20px;
    border-radius: 25px;
    margin-bottom: 10px;
}

.Recipe3_body {
    display: flex;
    justify-content: space-evenly;
    background-color: #A3B18A;
    color: white;
    border: 7px solid #3A5A40;
    border-radius: 25px;
    margin-bottom: 10px;
}

a:link {
    color: green;
    background-color: transparent;
}


a:visited {
    color: green;
    background-color: transparent;
  }