.header {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-family: Arial, Helvetica, sans-serif;
    color: #054F48;
    text-decoration: none;
    margin: 0px 30px;
    font-size: 80%;
}
nav {
    display: flex;
    align-items: center;
}
.nav-links {
    font-family: Arial, Helvetica, sans-serif;
    color: #054F48;
    margin: 0px 30px;
}
h2 {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #054F48;
    font-size: 28px;
    margin: 32px 0 0 0;
}
.cards {
    display: flex;
    background-color: #FFCB45;
    border-radius: 20px;
    flex-direction: column;
    width: 100%;
    margin: 40px 20px 0 20px;
    border: 2px solid #054F48 ;
}
.card-img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}
p {
    margin: 10px 40px 60px 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #054F48;
}
.recipe-btn {
    border: 2px solid #054F48;
    background-color: #FFCB45;
    color: #054F48;
    border-radius: 40px;
    padding: 10px;
    margin: 50px 40px 20px 40px;
    width: fit-content;
    font-size: 20px;
    font-weight: bolder;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.three-cards {
    display: flex;
    margin: 0 180px 0;
}
body {
    background-color: #FFFCF5;
}
.pg-content {
    display: flex;
    flex-direction: row;
    margin: 50px 0 0 0;
}
.pg-cards {
    margin: 0 50px 0 50px;
    background-color: #FFCB45;
    border-radius: 20px;
    margin: 0 20px 0 180px;
    width: 25%;
    height: 700px;
    border: 2px solid #054F48;
}
.instructions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #054F48;
    width: 80%;
    border-radius: 20px;
    margin: 0 180px 0 20px;
}
.pg-recipe-btn {
    border: 2px solid #054F48;
    background-color: #FFFCF5;
    color: #054F48;
    border-radius: 40px; 
    padding: 16px;
    margin: 60px 0 32px 0;
    width: fit-content;
    font-size: 24px;
    font-weight: bold;
}
.ingredients, .prep {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
ol, ul {
    font-family: Arial, Helvetica, sans-serif;
    color: #054F48;
    font-size: 16px;
    max-width: 270px;
    line-height: 180%;
    margin: 0 20px 60px 30px;
}

