:root{
    --border-color: #F07167;
    --container-color: #FED9B7;
    --text-color: hsl(4, 46%, 49%);
}

.nav-menu{
    display: flex;
    flex-direction: row; 
    justify-content: ;
    align-items: flex-start;

    border-color: black;
    border-width: 2pt;
    border-style: solid;
    border-radius: 4pt;
    padding: 0;
    margin: 0;
    width: fit-content;
    margin: auto;
    background-color: var(--container-color);
    border-color: var(--border-color);
}

.nav-text{
    margin: 15pt;
    flex-shrink: 0;
    font-size: 14pt;
    color: var(--text-color);
}

.nav-image{
    margin: 15pt;
    flex-shrink: 0;
}

