:root{
    --border-color: #F07167;
    --container-color: #FED9B7;
    --text-color: hsl(4, 46%, 49%);
    --page-color: #FED9B7;
}

/*Meant to encase the page card (below) in a table cell, which allows vertical
and horizontal centering easily*/
.page-card-wrapper{

    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 98vh;
}

/*Flexbox that will make the page appear as a single "card"*/
.page-card{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    width: fit-content;
    align-items: center;

    top-margin: 50%;

    background-color: var(--page-color);
    padding: 20pt;
    border-radius: 4pt;
}

/*Top menu bar*/
.nav-menu{ 
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: center;

    border-color: black;
    border-width: 2pt;
    border-style: solid;
    border-radius: 4pt;
    padding: 0;
    margin: 0;
    width: fit-content;
    margin: auto;
    background-color: var(--container-color);
    border-color: var(--border-color);
}

/*Any text items in the top menu bar*/
.nav-text{
    margin: 10pt;
    flex-shrink: 0;
    font-size: 14pt;
    color: var(--text-color);
}

/*Icon in the top menu bar*/
.nav-image{
    margin: 10pt;
    flex-shrink: 0;
    width: 40px;
    height: auto;
}

/*Container containing recipe cards*/
.recipe-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;

    width: fit-content;
    height: auto;
    margin-top: 30pt;
    margin-left: auto;
    margin-right: auto;
}

/*Recipe cards*/
.recipe{
    display: flex;
    flex-direction: column;

    background-color: var(--container-color);
    border-radius: 4pt;
    margin: 15pt;
    padding: 10pt;
}