.recipes {
    font-family: "Papyrus";
    background-color: rgb(219, 199, 245);
    padding: 10px;
    margin: 10px;
    border: 1px rgb(219, 199, 245);
    border-radius: 10px;
}

.header {
    display: flex;
    border: 5px solid black;
    flex-direction: column;
    align-items: center;
    justify-content: space between;
    font-family: "Papyrus";
    background-color: rgb(193, 164, 213);
    padding: 50px
    margin: 10px
    border: rgb(120, 75, 152);
}

.title-section {
    font-family: "Papyrus";
    background-color: rgb(193, 164, 213);
    padding: 60px
    margin: 10px
    border: 10px rgb(120, 75, 152);
}

.navigation {
    display: flex;
    justify-content: flex-end;
    font-family: "Papyrus";
    background-color: rgb(193, 164, 213);
    padding: 60px
    margin: 10px
    border: 5px solid black;

.recipe-images {
    margin: 10px
    padding: 50px
    border-radius: 10px
    font-family: "Papyrus";
}

.recipe-content {
    display: flex;
    justify-content:left;
    background-color: rgb(193, 164, 213);
}

.title {
    font-family: "Papyrus"
}