html {
    font-family: Garamond, serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: oldlace;
    height: 100%
}

main {
    padding: 20px 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkkhaki;
    padding: 20px 20px;
}

.title-box {
    text-decoration: none;
}

.title-text {
    color: peru;
    font-size: 36px;
    font-family: Garamond, serif;
}

.page-link {
    color: gray;
    font-size: 16px;
    padding: 15px;
}

.recipe-box {
    background-color: darkkhaki;
    margin: 20px 225px;
    border-radius: 30px;
    padding: 10px 10px;

}
.recipe-title {
    display: flex;
    color: brown;
    font-family: Garamond, serif;
    font-size: 36px;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.image {
    width: 500px;
    border: 5px solid;
    border-color: gray;
    display: block;
    margin: auto;
}

.image2 {
    width: 500px;
    border: 5px solid;
    border-color: gray;
    margin: 0px;
}

.ingredient-box {
    display: flex;
    justify-content: space-evenly;
    background-color: darkkhaki;
    margin: 20px 225px;
    border-radius: 30px;
    padding: 10px 10px;
}

.ingredient-list {
    margin: 0px 50px;
    font-size: 24px;
}