body{
    background-color: #fefae0;
  }
  h1 {
    font-family: fantasy;
    color: #606c38;
    font-size: 40px;
  }
  h2,.description {
    color: #283618;
    font-family: Bradley Hand, cursive;
    font-size: 30px;
    text-decoration: none;
  }
  th, td {
    color: #283618;
    border-bottom: 1px solid #ddd;
    font-size: 16px
  }
  td{
    color: #283618;
    font-family: Bradley Hand, cursive;
  }
  li{
    color : #283618;
    font-family: Bradley Hand, cursive;
  }
  input{
    background-color: pink;
  }
  .dish-box{
      display: flex;
      flex-direction: row;
      background-color: #f1ebbf;
      border: #f1ebbf solid 5px;
      border-radius: 15px;
      flex-wrap: nowrap;
  }
  .thumbnail {
      width: 20%;
      height: 20%;
      padding: 10px;
  }
  .dish-title{
      text-decoration: none;
      background-color: #606c38;
      color: #fefae0;
      font-size: 40px;
  }
  .about{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      padding: 30px;
  }
  .description{
      display: flex;
      border: 10px solid #f1ebbf;
  }
  a:hover{
      background-color: #fefae0;
      color: #283618;
  }
  .dish-title:hover{
      background-color: #f1ebbf;
      color: #283618;
  }
  
  .top-left-panel{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }
  .panel-button{
      border: #f1ebbf 10px solid;
      color: #606c38;
      background-color: #f1ebbf;
      text-decoration: none;
  }
  
  a{
      text-decoration: none;
      color: #606c38;
  }
  
  .recipe-box{
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: space-between;
  }
  .thumbnail-large{
      width: 50%;
      height: 77%;
      align-items: center;
      border: #fefae0 solid 7px;
      border-radius: 50px;
      padding: 20px;
  }
  #welcome{
    font-size: 27px;
  }
  .upper-class{
    display: flex;
    flex-direction: column;
  }
  .top-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f1ebbf;
  }
  .top-panel-recipe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 100px;
    background-color: #f1ebbf;
  }
  #hi{
    height: 10%;
  }
  
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fefae0;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #f1ebbf;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #f1ebbf;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #606c38;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .instructions{
    font-size: 20px;
  }  