body
{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(218, 100, 100);
}


  .intro
  {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding-left: 20px;
  }

.cards
{
  display: flex;
    justify-content: center;
    margin: 3em 0 20em 0;
    gap: 200px;
}

