  /* /* .recipePreview
  {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  } */

  h1{
    font-size: 48px;
    font-weight: bolder;
  } 

  p, .main-action
  {
    font-size: 18px;
  }


.box
{
  background-color: white;
  border: 3px solid green;
  border-radius: 5px;
  width: 300px;
  height: 300px;
}

.card {
  /* text-align: center; */
  /* width: 150; */
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  color: rgb(240, 235, 227);;
}

img
{
  height: 300px;
  width: 300px;
}

#subtitle
{
    color:blue;
}


.home
{
  display: flex;
  flex-direction: column;
}

.card
{
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  text-align: center;
  width: 200px;
  align-items: center;
}