body {
  background-color: var(--pale);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main h1 {
  color: var(--main-accent);
  font-weight: 700;
  font-size: 3em;
  margin-bottom: 10px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.hero-r img {
  width: 350px;
  margin-right: 100px;
}

.recipe-cards {
  display: flex;
  gap: 30px;
}
