#body-about {
    background-color: white;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

#body-about > p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-top: 0%;
}

#body-about > h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#body-about > h3 {
    margin-bottom: 1vh;
}

/* About Me */

#about-main {
    overflow: auto;
    max-height: 100vh;
}

.portrait {
    width: 25%;
    margin-left: auto;
}

.about-content {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 10vh;
}