
/* Title box */
title {
    color: #faedcd;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #faedcd;

}

/* Navigating the index (home) page and about me page */
links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #faedcd;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #faedcd;
}

/* Top bar on the pages */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #6c584c;
    font-family: Arial, Helvetica, sans-serif;

}