.three-cards {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  } 
  h2 {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #054F48;
    font-size: 28px;
    margin: 4% 0 0 0;
  }