:root{
    --border-color: #F07167;
    --container-color: #FED9B7;
    --text-color: #b64b43;
    --page-color: #FCF0DC;
    --container-border-color: #FFD1A7;
    --mid-color: #f9b699;
}

/*Navigation list at the top of the page*/
nav{
    justify-self: flex-end;
}

.nav-member{
    margin: 1em;
    color: var(--text-color);
}

/*The header banner at the top of each recipe page*/
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--mid-color);
    border-bottom: solid var(--border-color) 0.3em;
}

/*The logo text in the header*/
h1{
    color: var(--text-color);
    margin-left: 0em;
}

/*Scaling and whitespace for the thinking chef icon*/
.site-icon{
    width: 3em;
    padding: 1em;
}