.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: burlywood;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
display: flex;
margin: 10px 20px;
}