.header {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    font-family: Arial, Helvetica, sans-serif;
    color: #054F48;
    text-decoration: none;
    margin: 0 2%;
    font-size: 80%;
  }
  nav {
    display: flex;
    align-items: center;
  }
  .nav-links {
    font-family: Arial, Helvetica, sans-serif;
    color: #054F48;
    margin: 0 30px;
  }