.large-image {
    width: 200px;
    /* border: 5px solid; */
    border-color: var(--deep-space-sparkle);
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 25%;
}