.header 
{
    color: #ede7e3;
    font-weight: 600;
}

header
{
    padding: 2% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15616d;
}

.recipe-header{
    background-color: #006d77;
    padding: 1% 1%;
    margin-bottom: 5px;
    border-radius: 10px;
    width:100%;
    color: #f4f4f4;
    text-decoration: underline;
    text-decoration-color: #f4f4f4;
    font-style: italic;
}

.all-page{
    margin-top: 5%;
    margin-left: 5%;
}

.recipe-page-first{
    display: flex;
    width: 85%;
}

.recipe-desc-ingr{
    width: 100%;
    border-radius: 25px;
    background-color: #9ed8db;
}

.recipe-img{
    border-radius: 25px;
    width: 600px;
    height: 600px;
    border: 4px solid #15616d;
}

.page-card-desc{
    padding: 3%;
    width: 100%;
    height: 20%;
    margin-left: 20px;
    font-size: large;
    color: black;
}

.ingredients{
    width: 100%;
    height: 400px;
    margin-top: 30px;
    margin-left: 30px;
}

.body-ingredients{
    color: black;
    margin-top: 3%;
    line-height: 40px;
}

.instructions{
    margin-top: 5%;
    line-height: 35px;
    width: 100%;
    padding-bottom: 150px;
}

.page-recipe-header{
    background-color: #15616d;
    padding: 1% 1%;
    margin-bottom: 40px;
    border-radius: 15px;
    width:85%;
    color: black;
    text-decoration-color: black;
}
