.page-image {
    width: 30%;
    border: 5px solid;
    border-color: white;
    border-radius: 10px;
    margin: 2%;
}

/* add ingredient box */
.add-ingredient {
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    flex-direction: column;
    width: 30%;
    border: 1px solid black;
    padding: 1%;
    border-radius: 10px;

}