.card {
    padding: 10px 40px;
    margin: 10px 40px;
    background-color: cornsilk;
    border-radius: 20px;
}

.card-image {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.main-content {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}