.recipe_card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px 10px;
    background-color: #D4A373;
    color: white;
    border: 7px solid #BC6C25;
    padding: 20px 20px;
    border-radius: 25px;
}

.recipe_main {
    padding: 0px 40px 10px;
    background-color: #A3B18A;
    color: white;
    border: 7px solid #3A5A40;
    padding: 20px 20px;
    border-radius: 25px;
    margin-bottom: 10px;
}

img {
    width: 20%;
    border: 5px solid;
    border-radius: 10px;
}

.recipe_body {
    display: flex;
    justify-content: space-evenly;
    background-color: #A3B18A;
    color: white;
    border: 7px solid #3A5A40;
    border-radius: 25px;
    margin-bottom: 10px;
}

.text {
    margin-left: 10px;
    margin-right: 10px;
}

.recipeTitle {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 40px 10px;
    background-color: #A3B18A;
    color: white;
    border: 7px solid #3A5A40;
    padding: 20px 20px;
    border-radius: 25px;
    margin-bottom: 10px;
}