body
{
    margin: 0;
    background-color: rgb(218, 100, 100);
}


  .intro
  {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    flex: 1;
  }

  .cards
  {
      display: flex;
      flex-wrap: wrap;
      margin-left: 100px;
      gap: 200px;
  }
