header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-green);
    padding: 30px 43px;
}

header a {
    text-decoration: none;
    color: var(--light-yellow)
}

header .title {
    font-size: 2.5rem;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 25px;
    text-decoration: underline;
    font-size: 18px;
}