.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:cadetblue;
    height: 100px;
    padding: 20px 40px 20px 40px;
}
  
.navPages {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
}
  
#title {
    font-size: 50px;
    font: 400;
    color:bisque;
}
  
#navtitle {
    font-size: 20px;
    font-weight: bold;
    color:bisque;
}