.food-description {
    padding: 0% 3%;
}

.recipe-title {
    text-align: center;
    font-size: 150%;
}

.recipe-photo {
    width: 600px;
    min-height: 620px; 
    max-height: auto;
    float: left;
    margin: 0px 50px 5px 0px;
}