:root {
    --background: #f7f9f9;
    --foreground: #28464b;
    --card-color: #f5fdff;
    --card-border-color: #28464b;
    --title-color: #326771;
    --title-border-color: #326771;
    --title-backround-color: #ecfcff;
    --nav-color: #326771;
    --link-after: #28464b;
    --bar-color: #365e65;
  }
  
  * {
    font-size: 100%;
    font-family: Arial;
  }
  
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
  
  a {
    text-decoration: none;
    color: var(--nav-color);
  }
  
  a:hover {
    color: var(--link-after);
  }
  
  /* Make header 1 title to be in the middle and nav links below */
  #site-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #title {
    /* nice title style */
    font-size: 2.5em;
    font-weight: bold;
    color: var(--title-color);
    padding: 10px 30px 10px 30px;
    border: var(--title-border-color) 4px solid;
    background-color: var(--title-backround-color);
  }
  
  #header {
    border-bottom: var(--bar-color) 2px solid;
    padding-bottom: 1%;
  }
  
  #title:hover {
    /* nice title hover style */
    color: var(--link-after);
    cursor: pointer;
  }
  
  #nav-bar {
    /* nice nav bar style */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 10%;
    margin: 0 auto;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 4%;
  }
  
  .card {
    max-width: 400px;
    height: fit-content;
    border-radius: 10px;
    background-color: var(--card-color);
    border: 1px solid var(--card-border-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
  }
  
  .card:hover {
    scale: 1.02;
    cursor: pointer;
  }
  
  .food-title {
    text-align: center;
  }
  
  .card-prev {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  #squashsoup-img {
    transform: scaleX(-1);
  }
  
  .food-description {
    padding: 0% 3%;
  }
  
  .recipe-title {
    text-align: center;
    font-size: 150%;
  }
  
  .recipe-photo {
    width: 600px;
    min-height: 620px; 
    max-height: auto;
    float: left;
    margin: 0px 50px 5px 0px;
  }