@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

:root {
    --backgroud_color: white;
    --dark_grey: rgb(87, 87, 87);
    --light_grey: hsl(0, 0%, 74%);
    --grey: #818181;
    --orange : rgb(255, 204, 76);
}


* {
    font-family: 'Inconsolata';
  }
  
  a {
    color:var(--dark_grey);
    text-decoration: none;
    font-weight: 300;
  }

  html {
      background-color: var(--backgroud_color);
  }
  
  a:hover {
    text-decoration: none;
  }
  
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em 0 1em;
    color: var(--dark_grey);
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem 2rem 2rem;
    background-color: var(--backgroud_color);
    color: white 
  }
  
  h1 {
    color:white;
    font-weight: 100;
  }
  
  h2 {
    align-items: center;
    font-weight: 100;
  }

  .headerSentence {
    text-align: center;
    padding-top: 50px;
    font-family: 'Inconsolata', bold;
    font-size: 50px;
    font-weight: 700;
    color: rgb(87, 87, 87);
    padding-bottom: 0em;
  }

  .headerSubSentence{
    text-align: center;
    font-family: 'Inconsolata', bold;
    font-size: 20px;
    font-weight: 700;
    color: rgb(87, 87, 87);
    padding-bottom: 50px;
  }
  
  img {
    width: 200px;
    height: 200px;
  }
  

  .navBarLinks {
    list-style-type: none;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
  }
  
  .dishes_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

  }
  
  .dish_card {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    background-color: var(--orange);
    /* rgb(255, 211, 100); */
    padding: 1rem;
    margin: 0 auto;
    color: rgb(146, 146, 146);
    width: 506.5px;
  }


  .dish_card a {
    color: white;
    text-decoration: none;
    font-weight: 400;
  }
  
  .dish_card p {
    color: white;
    font-weight: 300;
  }

  /* recipe page */

  .recipe_page_title{
      color:var(--dark_grey);
  }

  .recipe_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3em 1em 1em 1em;
    border-radius: 10px;
    color: black;
    gap: 2em;
  }
  
  
  .recipe_card_ip {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-radius: 10px;
    color:black;
  }

  .recipe_card_content{
      flex-direction: column;
      display: flex;
  }

  .recipeImage {
    width: 500px;
    height: 500px;
    margin: 1rem;
    padding: 1rem;
  }

  .about_me_content{
    color:rgb(87, 87, 87);
    text-align: center;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;

  }

