.nav_item{
    font-size: 15px;
    color: black;
    margin: 0px 10px;
}

#myheader{
    padding-left: 10px;
    font-size: 30px;
}

.header{
    background-color:rgb(224,225,221);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    padding: 5px;

    

}