/* I want all pages to have this color and font style */
body{
    background-color: #C0B7B1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* effects properties of the three recipe cards on the home page */
.recipe{
    margin: 2%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: #7C238C;
    border-style: solid;
    border-width: 5px;
    border-color: #7C238C;
}

/* recipe card head and border color darken a bit when the card is hovered over */
.recipe:hover{
    background-color: #661e73;
    border-color: #661e73;
}

/* the content within the recipe card, seperate from the head, which has recipe name */
/* contains general styling for the description and image */
.recipe_content{
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: large;
    flex-direction: row;
    background-color: #7A7265;
    justify-content: space-between;
}

/* cleaner margins for the description within recipe card */
.recipe_p{
    margin-left: 15px;
}

/* head of recipe card, different font color, cleaner margin */
.recipe_head{
    margin-left: 10px;
    color: #C0B7B1;
}

/* image within recipe_content. standardize all image sizes, gives border and fits better within recipe card */
.food_preview{
    margin: 1%;
    justify-content: right;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
    height: 300px;
    width: 300px;
}