.webpage{
  background-color:olive;
}
.Navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color:darkred;
  height: 100px;
  padding: 30px 40px 30px 40px;
}

.Switchpages{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
}

#title{
  font-size: 50px;
  font: 450;
  color:wheat;
}
#pagetitle {
  font-size: 20px;
  font-weight: bold;
  color:wheat;
}

#Welcome {
  font-size: 40px;
  margin: 30px 0px 30px 30px;
 
}

.Box {
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  background-color:darkkhaki;
  height: fit-content;
  margin: 30px 40px 30px 40px;
  border-radius: 25px;
}

.Subheader {
  font-size: 30px;
  font-weight: bold;
  color:darkred;
  padding-left: 30px;
  padding-top: 30px;
}

.para {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  padding: 20px 30px 20px 30px;
}

.paratext {
  padding: 150px 50px 150px 50px;
  font-size: 25px;
  font-weight: bold;
}

.RecipeImage {
  max-height: 200px;
  border-radius: 25px;
  border-color:darkred;
  border-style: solid;
  border-width: thick;
}
.Subprocess{
  font-size: 18px;
  font-weight: bold;
  padding: 0px 30px 0px 30px;
  color:darkred;
}
.RecipePage {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  padding: 20px 30px 20px 30px;
} 

.RecipeImage {
  max-height: 400px;
  border-radius: 16px;
  border-color:darkred;
  border-style: solid;
  border-width: thick;
  margin-top: 40px;
}

.RecipeDetails {
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  background-color:darkkhaki;
  height: fit-content;
  margin: 40px 40px 40px 40px;
  border-radius: 30px;
}

.RecipeName {
  font-size: 30px;
  font-weight: bold;
  padding: 0px 30px 0px 30px;
}

.RecipeDesc {
  padding: 0px 30px 0px 30px;
  font-size: 18px;
}

.Ingredients {
  background-color:goldenrod;
  margin-left: 20px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.Instructions {
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  background-color:darkkhaki;
  height: fit-content;
  margin: 20px 40px 20px 40px;
  border-radius: 40px;
}

li {
  font-size: 18px;
  padding: 0px 20px 10px 20px;
} 