/* Currently represents css for entire site */

body{
    background-color: #cda4da;
    font-family: 'Ubuntu', sans-serif;
}

/* navbar */
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    column-gap: 20px;
    background-color: #7bb3b1;
    border-radius: 1em;
}

.page{
    padding: 20px;
}

header{
    text-align: center;
}

img{
    width:300px;
    height: auto; /* keeps image ratio */
    padding: 20px;
    border-radius: 2em;
}

/* recipe boxes on home page and ingredients/steps on recipe pages */
.flex-container-recipes {
    display: flex;
    background-color:#7bb3b1;
    margin: 20px; /* gets each recipe box to have space between */
    border-radius: 1em; /* rounded edges*/
}

.text {
    display: inline-block;
}

a{
    color: black;
    text-decoration: none; /*Gets rid of prespecified link formatting */
}

a:hover {
    background-color: lightblue;
}

/* Since the boxes on the ingredients part of the recipe pages don't have a picture inside, 
this adds some padding to them. Also increases line spacing */
.steps {
    padding: 20px;
    line-height: 1.5;
}

.about {
    text-align: center;
    padding: 10px;
}