.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: burlywood;
  margin: 0;
}

.body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: chocolate;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  display: flex;
  margin: 10px 20px;
}

.card {
  padding: 10px 40px;
  margin: 10px 40px;
  background-color: cornsilk;
  border-radius: 20px;
}

.card-image {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.main-content {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.recipe {
  display: flex;
  flex-wrap: wrap;
}

.recipe-image{
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin: 10px 20px;
}

.ingredients{
  padding: 10px 20px;
  margin: 10px 20px;
  background-color: cornsilk;
  border-radius: 20px;
}

.preparation{
  padding: 10px 20px;
  margin: 10px 20px;
  background-color: cornsilk;
  border-radius: 20px;
}

.description{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description-text{
  font-size: large;
}