.header {
    display: flex;
    align-items: center;
    background-color: darkgoldenrod;
    flex-direction: column;
    border-radius: 15px;
    justify-content: space-around;
    color: cornsilk;
}

.page {
    display: flex;
    background-color: cornsilk;
    border-radius: 10px;
    padding: 4px 20px;
    margin: 10px;
    color: #222;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}