header{
    display: flex;
    background-color: var(--kombu-green);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color:whitesmoke;
    padding: 0 70px;
  }
  
  a, a:active, a:visited, a:hover{
    text-decoration: underline;
    color:var(--cornsilk);
    font-weight: normal;
    padding: 0 15px;
  }